####Defaults, don't change#####
TIMELAPSE_DATA="/timelapse_data/"
CAMERA_HOME="${TIMELAPSE_DATA}/${CAMERA_NAME}"
RAW_IMAGE_DIR="${CAMERA_HOME}/raw"
PROCESSED_VID_DIR="${TIMELAPSE_DATA}/done"

#userstuff
if [ ! -z "${CAMERA_NAME}" ] ; then
	CAMERA_NAME=""
fi
CAMERA_LAT=""
CAMERA_LONG=""
#CAMERA_RTSP="rtsp://IP:554/stream"
CAMERA_RTSP=""
YOUTUBE_CAMERA_DESCRIPTION=""
YOUTUBE_CAMERA_PLAYLIST=""
YOUTUBE_CLIENT_SECRETS=""
YOUTUBE_CREDENTIALS_FILE=""
DARKSKY_API_KEY=""
#OVERLAY_TXT_FILE="/timelapse/overlay.txt"
CONDITIONS_OVERLAY_TXT_FILE=""
CONDITIONS_OVERLAY_FONT_FILE=""
DAYS_TO_KEEP="7"

